<launch>
    <group ns="/talker_slow">
        <param name="rate" type="int" value="1" />
        <node name="slow_talker_node" pkg="beginner_tutorials" type="talker.py" output="screen" />
    </group>
    
    <group ns="/talker_fast">
        <param name="rate" type="int" value="3" />
        <node name="fast_talker_node" pkg="beginner_tutorials" type="talker.py" output="screen" />
    </group>

</launch>
